{%extends 'base.html'%}


{%block title%} About Us {%endblock%}

{%block content%}
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3 class="display-3" class="col s12 m8 main">Welcome to my Blog </h3>
        <p>We are a team of passionate writers who love to share our thoughts and ideas with the world. Our blog covers a wide range of topics, including lifestyle, fashion, technology, health, food, travel, and more.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h4>Goals</h4>
          <p>Our goal is to provide our readers with valuable and informative content that can help them make better decisions and live a more fulfilling life. We believe in the power of words and are committed to creating high-quality content that is engaging, thought-provoking, and inspiring. </p>

        </div>
        <div class="col-md-4">
<!--          <h2>Heading</h2>-->
          <p>At here, we're committed to providing accurate and well-researched content. We understand that our readers come to us for reliable information, and we take that responsibility seriously. If you ever have any questions or concerns about our content, please don't hesitate to reach out to us. </p>

        </div>
        <div class="col-md-4">
<!--          <h2>Heading</h2>-->
          <p>We also believe in creating a sense of community among our readers. We encourage you to leave comments and engage with us on social media. We love hearing your feedback and learning from your experiences.</p>

        </div>
      </div>

    </div> 

  </main>

</html>


{%endblock%}